:root {
    --swiper-pagination-bottom: 30px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
}

a {
    color:currentColor;
}

#sidebarMenu .link.active {
    color:var(--bs-gray-100);
}

body {
    color:var(--bs-black-100);
}

.hero-thumb {
    opacity: 0;
}
.swiper-slide-active .hero-thumb {
    opacity: 1;
    animation-name: fadeInUp;
    animation-duration: 800ms;
    animation-delay: .5s;
    animation-fill-mode: both;
}

.swiper-pagination-bullet {
    scale: .8;
}
.swiper-pagination-bullet-active {
    scale: 1;
    background-color: var(--bs-black-100);
}